/node_modules
/vendor
/public/build
/.git
/.github
/.editorconfig
/.env*
/tests
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/docker-compose.yml
/compose.yaml
/docker-compose.prod.yml
/Dockerfile
/npm-debug.log
/yarn-error.log
/phpunit.xml
/pint.json
/README.md
/roadmap.md
/GEMINI.md
/CLAUDE.md
